- if logged_in?
  = render 'feed'
- else
  .center.jumbotron
    %h1 Welcome to Adopt India
    %a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => "/auth/facebook", :role => "button"} Login / Sign Up with Facebook
