= form_for(@current_user) do |f|
  %form.form-horizontal{:action => "/action_page.php"}
    .form-group
      =f.label :dob, "Date Of Birth"
      =f.date_field :dob, class: 'form-control'
    .form-group
      =f.label :gender, "Gender"
      .div
        =f.select :gender, options_for_select([["Select", ""], "Male", "Female"], @current_user.gender), class: 'form-control'

    .form-group
      = submit_tag 'Update', class: "btn btn-primary"
