.list-group
  - SocialInterest.all.each do |sinterest|
    %a.list-group-item{:href => "#"}
      %span.pull-right
        -if sinterest.following?(@current_user.id)
          %button.btn.btn-default{:type => "submit"} Unfollow
        -else
          %button.btn.btn-default{:type => "submit"} Follow
      %h3.list-group-item-heading #{sinterest.title}
      %p.list-group-item-text #{sinterest.description}
