.list-group
  - SocialInterest.all.each do |sinterest|
    -# %a.list-group-item{:href => "#"}
    %a.list-group-item
      %span.pull-right
        -if @current_user.following?(sinterest)
          = button_to "Unfollow", { action: "update_follow_interests", interest_id: sinterest }
        -else
          = button_to "Follow", { action: "update_follow_interests", interest_id: sinterest }
      %h3.list-group-item-heading #{sinterest.title}
      %p.list-group-item-text #{sinterest.description}
