.list-group
  - @socialinterests.each do |sinterest|
    %a.list-group-item{:href => "#"}
      %span.pull-right
        %button.btn.btn-default{:type => "submit"} Follow
      %h3.list-group-item-heading #{sinterest.title}
      %p.list-group-item-text #{sinterest.description}

.list-group
  %button.btn.btn-default{:type => "submit"} Submit
