- provide(:title, @current_user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = "Edit profile"
.content
  = render 'layouts/heading', :locals => {:headingtext => 'Basic Details'}
  = render 'editform'
  -# = render 'layouts/heading', :locals => {:headingtext => 'Social Interests'}
  -# = render 'interests'
