- provide(:title, @user.name)
-# .row
-#   %aside.col-md-4
-#     %section.user_info
-#       %h1
-#         = "Select Interests"
.content
  = render 'layouts/heading', :locals => {:headingtext => 'Social Interests'}
  = render 'interests'
