<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div>
  <select class="selectpicker" multiple>
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
    <option>Mustard1</option>
    <option>Ketchup1</option>
    <option>Relish1</option>
    <option>Mustard2</option>
    <option>Ketchup2</option>
    <option>Relish2</option>
    <option>Mustard3</option>
    <option>Ketchup3</option>
    <option>Relish3</option>
  </select>
</div>
