
/* header */
$theme-color: #404040;
$navbar-inverse-bg: $theme-color;

@import "bootstrap";
@import "bootstrap-sprockets";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

body {
  padding-top: 80px;
  background-color: #EEE;
}

.app {
  max-width: 80%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.jumbotron h1 {
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}

h1 {
  font-size: 2.0em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  margin-bottom: -20px
}

h3 {
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  // margin-bottom: -15px
}

// button

button {
    background-color: #FFFFFF;
    opacity: 1.0
 }

material-icons {
  font-family: 'Material Icons';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* issues */

.issues {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 2px;
    margin-top: 35px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 2px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.card {
  margin-top: 10px;
  padding: 20px;
  border: 0.1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border-width: thick;
}
